

@font-face {
    font-family: 'Cocogoose-Classic';
    src: url(/public/fuentes/Cocogoose-Classic-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
  }
  
  @font-face {
    font-family: 'Cocogoose-Classic-medium';
    src: url(/public/fuentes/Cocogoose-Classic-Medium.ttf);
    font-weight: normal;
    font-style: normal;
  }
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd001;
    margin: 0 10%;
    margin-top: 20px;
    padding: 25px 10px;
    border-radius: 30px;
    font-size: 22px;
}
.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}