@font-face {
    font-family: 'Cocogoose-Classic';
    src: url(/public/fuentes/Cocogoose-Classic-ExtraBold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Cocogoose-Classic-medium';
    src: url(/public/fuentes/Cocogoose-Classic-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'Cocogoose-Classic-medium', sans-serif;
    margin: 0;
    background-color: #d6f9f5;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd001;
    margin: 0 10%;
    margin-top: 20px;
    padding: 25px 10px;
    border-radius: 30px;
    font-size: 22px;
}

.navbar-brand img{
    height: 40px;
}

.navbar-serch input{
    padding: 15px;
    width: 500px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
}

.navbar-serch button{
    padding: 10px 12px;
    border: none;
    margin-left: 3px;
    background-color:#092fb7;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
}

.navbar-serch button img{
    color: white;
}

.navbar-link a, li{
    text-decoration: none;
    color: rgb(18, 82, 177);
    margin: 0 10px;
    font-weight: bold;
    list-style: none;
}