@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


.pagination{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.pagination button{
    font-family: "Caveat Brush", cursive;
    background-color: #555;
    border: none;
    color: #fed000;
    padding: 8px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    border-radius: 80px;
    transition: background-color 0.3s;

}

.pagination button.active{
    background-color: #082fb6;
}
.pagination button:hover{
    background-color: #2044c4;
}